registry=https://registry.npmjs.org/
auto-install-peers=true
strict-peer-dependencies=false
verify-store-integrity=false
strict-store-pkg-content-check=false
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
network-timeout=300000
prefer-offline=false
package-import-method=copy
store-dir=.pnpm-store
