registry=https://registry.npmjs.org/
fetch-retries=3
fetch-retry-factor=1
fetch-retry-mintimeout=1000
fetch-retry-maxtimeout=5000
network-timeout=60000
prefer-offline=false
package-import-method=copy
verify-store-integrity=false
strict-store-pkg-content-check=false
